Temp/UnityLockFile
.vs/NoTimePlatformer/v15/Server/sqlite3/storage.ide-shm
.vs/NoTimePlatformer/v15/Server/sqlite3/storage.ide-shm
.vs/NoTimePlatformer/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
*.ide-shm
